*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
}#logo{
    height: 30px;
}
ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}
li a{
    color: grey;
    text-decoration: none;
    font-size: larger;
}.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}#logofont{
    font-size: x-large;
}.s1{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(./pexels-arina-krasnikova-5418888.jpg);
    background-position: center;
    background-size: cover;
}
h1{
    color: white;
    font-size: 3rem;
    font-weight: 900;
}.container2{
    width: 100%;
    height: 300px;

    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}.btn{
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(24, 114, 19);
    border: none;
    color: white;
}.s2{
    height: 700px;
    
}article{
    height: 35rem;
    width: 20rem;
    border: 1px solid black;
}.container3{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 660px;
    
}.pro1{
    width: 100%;
}.star{
    color: rgb(0, 0, 0);
    font-size: x-large;
}.add{
    width: 100%;
   
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}.details{
    padding: 1rem;
}.addbtn{
    background-color: green;
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
}.amt{
    font-size:larger;
    font-weight: 800;
}.container4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}
.s3{
    height: 800px;
    width: 100%;
}
li a:hover{
    color: #1da1f2;
    transition: 1s;
}.btn:hover{
background-color: rgb(78, 210, 30);
transition: 1s ease-in-out;
}
/* footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: sticky;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container p {
    margin: 0;
    font-size: 14px;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #1da1f2;
}
